@import url("https://fonts.cdnfonts.com/css/satoshi");
@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@400;500&family=Lato&family=Montserrat:wght@400;500;600&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #fff;
  color: #524948;
  overflow-x: hidden;
  font-family: "Satoshi", sans-serif;
}
